


<div class="info-left"><h1>Locate your legislator:</h1>
<p>Filter your results:</p>
<p><%= form_tag do %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search by STATE") %>
  <% end %></p>
<p><%= form_tag do %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search by NAME") %>
  <% end %></p>
</div>

<div class="info-right">
  <p><strong>Name:</strong> Sen Benjamin Sasse</p>
  <p><strong>State:</strong> Nebraska</p>
  <p><strong>Party:</strong> Republican</p>
  <p><strong>Chamber:</strong> Senate</p>
  <p><strong>In Office:</strong> Yes</p>
  <p><strong>Term:</strong> 2015-01-06 - 2021-01-03</p>
  <p><strong>ID:</strong> S001197</p>

  <br><br>
  <p><strong>Name:</strong> Rep Bradley Walker</p>
  <p><strong>State:</strong> North Carolina</p>
  <p><strong>Party:</strong> Republican</p>
  <p><strong>Chamber:</strong> House</p>
  <p><strong>In Office:</strong> Yes</p>
  <p><strong>Term:</strong> 2015-01-06 - 2017-01-03</p>
  <p><strong>ID:</strong> W000819</p>

  <br><br>
  <p><strong>Name:</strong> Sen Mike Rounds</p>
  <p><strong>State:</strong> South Dakota</p>
  <p><strong>Party:</strong> Republican</p>
  <p><strong>Chamber:</strong> Senate</p>
  <p><strong>In Office:</strong> Yes</p>
  <p><strong>Term:</strong> 2015-01-06 - 2021-01-0</p>
  <p><strong>ID:</strong> R000605</p>


</div>
<div style="clear:both;"></div>
