<!DOCTYPE html>
<html>
<head>
  <title>Just Talkin' About Congress</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <%= render partial: "shared/header" %>
    <div class="content">
      <%= render partial: "shared/nav" %>
      <div class="flash-messages">
        <% flash.each do |key, value| %>
        <%= value %>
        <% end %>
      </div>

    <div class="main-content">
      <%= yield %>
    </div>
  </div>
    <%= render partial: "shared/footer" %>
</body>
</html>
